unity-game/Library/cache
unity-game/Library/metadata
unity-game/Library/previews
unity-game-csharp.sln
unity-game-csharp.sln.orig
unity-game.csproj
unity-game.sln
unity-game.sln.orig
unity-game.userprefs
Iconr
